body{
    
    background-color: #000000;
    margin: 0; 
}

div {
    display: block;
    width: 100vh;
    background-color: rgb(0, 0, 0);
    color:rgb(153, 255, 0);
    padding:20px 40px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

#generate {
    background-color: #000000;
    color:greenyellow;
    font-size: large;
    padding:4px 10px;
    border:2px solid greenyellow;
}

#copy {
    background-color: greenyellow;
    color:black;
    font-size: large;
    padding:4px 10px;
    border:2px solid greenyellow;
    font-weight: bolder;
}

#generate:hover{
    background-color: greenyellow;
    color:black;
}

#pass-1 {
    border: 2px solid greenyellow;
    padding: 6px;

}

#credit {
    text-align:center;
}
